<footer class="page-footer col-primary">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Gp Blogs</h5>
        <p class="grey-text text-lighten-4">Thanks for visiting on our site.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"> Social Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Linkdin</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twiter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright Gp Blogs
    <a class="grey-text text-lighten-4 right" href="/contact">Contact-Us</a>
    </div>
  </div>
</footer>